@media only screen and (max-width: 390px) {
  #app2 {
      margin-top: 0px;
  }
}
:root {
  --light-color: #e6e9ff
}
button{
  height: 40px;
  width: 85px;
}
#MainButt{
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #738dc3;
  color: aliceblue;
  background: #adc1e2;
  border: 2px solid #adc1e2; /* Green */
  height: 40px;
  width: 170px;
}
.container {
  display: grid;
  grid-template-columns: repeat(12,1fr) ;
  padding: 0%;
}

body {
  background: url(nums.png); 
}
.one {
  grid-column: 1/2;
}
.two {
  grid-column: 11/12;
}

#messages{
  display: inline;
  overflow-y: scroll;
  list-style: none;
  /*height: 250px;
  width: 720px;*/
  overflow: auto;

}
#messages li:nth-child(odd) { 
  text-align:right;
  padding-right: 20px;
  background-color: #eee;
	border-radius: 5px;
 }
#messages li:nth-child(even) { 
  text-align:left; 
  padding-top : 0px;
  padding-left: 20px;
  width: 350px;
	border-radius: 5px;
 }
#showtime{
  grid-column: 3/12;
  height: 345px;
  width: 850px;
  scroll-behavior: smooth ;
  overflow: auto;
  border: rgb(0, 0, 0) 1px;
  background-color:white;
  /*margin-top: 50px;*/
  grid-row: 1;

}
#app2{
  border: 2px solid #adc1e2;
  border-radius: 3px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-column: 3/12;
  grid-row: 2;

}
#int {
  background: #fff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  /*border-bottom: 1px solid #738dc3;*/
}
#control{
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #738dc3;
  color: aliceblue;
  background: #adc1e2;
  border: 2px solid #adc1e2; /* Green */
}
#calc{
  font-size: 16px;
  border-radius: 4px;
  line-height: 24px;
  border-bottom: 1px solid #738dc3;
  color: #333;
  background: #eaeff6;
  border: 2px solid #eaeff6; /* Green */
}

#input3, #input2 {
  border-radius: 0px;

  text-align: center;
  width: 850px;
  margin-left: auto;
  margin-right: auto
}
.b1{
 text-align: center;
  
}
a{
  color: white;
}
#nav{
text-align: center;
border-radius: 3px;
background-color: #adc1e2;
border: 1px solid #adc1e2;
}

#home{
  float:left;

}
#text{
  width: 62.5%;
}
#for{
  float:left;

}
#about{
padding-left: 30px;
padding-right: 30px;}
#insidenav{
  text-align: center;
  grid-column: 3/11;

}
#arc{
  font-size: 16px;
  border-radius: 4px;
  line-height: 24px;
  border-bottom: 1px solid #738dc3;
  color: #333;
  background: #eaeff6;
  border: 2px solid #eaeff6; /* Green */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
